
#global{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 3px solid grey;
}


#mainConteiner{
    max-width: 1200px;
    min-width: 200px;
    background-color: aqua;
    border: 1px solid grey;
    padding: 3px;
    margin: 3px;
}

.regConteiner{
    background-color: brown;
    border: 2px;
    padding: 5px;
}

.clientsConteiner{
    display: block;
    box-sizing: border-box;
    background-color: rgb(228, 43, 212);
    border: 2px;
    padding: 10px 20px;
}

.history{
    display: block;
    background-color: blueviolet;
    border: 2px solid grey;
    padding: 3px;
}
